{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Request Assistance</title>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
        body {
            font-family: 'Open Sans', sans-serif;
        }
        .example_c {
            color: #494949 !important;
            text-transform: uppercase;
            background: #ffffff;
            width: 420px;
            text-align: center;
            font-size: 32px;
            border-radius: 6px;
            display: inline-block;
            margin: 10px;
        }
    </style>
</head>
<body>
        <div class="example_c">
                Our staff will be arriving soon
        </div>
</body>
</html>